{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} | Overview
{% endblock %}

{% block body %}
    <h1>Adresář kontaktů</h1>
    {% if contacts|length == 0 %}
        Adresář neobsahuje žádné kontakty
    {% else %}
        {{ include('contact/contactsTable.html.twig') }}
    {% endif %}
{% endblock %}