{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} | Přehled
{% endblock %}

{% block header %}
    <h1>Adresář kontaktů</h1>
{% endblock %}

{% block body %}
    <a href="{{ path('new') }}">Nový kontakt</a>
    {% if contacts|length == 0 %}
        Adresář neobsahuje žádné kontakty
    {% else %}
        {{ include('contact/contactsTable.html.twig') }}
    {% endif %}
{% endblock %}
